
{{#if facebook}}
	<li class="facebook"><a href="{{facebook}}">{{fa-icon "facebook"}}</a></li>
{{/if}}
{{#if twitter}}
	<li class="twitter"><a href="{{twitter}}">{{fa-icon "twitter"}}</a></li>
{{/if}}
{{#if instagram}}
	<li class="instagram"><a href="{{instagram}}">{{fa-icon "instagram"}}</a></li>
{{/if}}
